// colors
$font-bold: hsl(227, 10%, 46%);
$font-light: hsl(0, 0%, 59%);
$background-color: hsl(185, 75%, 39%);
$light-grey: hsla(0, 0%, 100%, 0.788);

// font family
$font: 'Kumbh Sans', sans-serif;
$normal-weight: 400;
$bold-weight: 700;


// Dark cyan: hsl(185, 75%, 39%)
// Very dark desaturated blue: hsl(229, 23%, 23%)
// Dark grayish blue: hsl(227, 10%, 46%)

